*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
    

}


/* body{ 
    background-color: #F2EDF3 ;
   
} */

.logo{
    margin-left: 35px;
    
}

.icon{
    margin-right: 35px;
   
}

.head{
    height:80px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;

}

.sidebar{
    height:100vh;
    width: 260px;
    padding-bottom: 100px;
    padding-top: 50px;
    background:white;
    
    
  
 
   
}
.active{
    width: 60px;

}
  
 .nav-links{
    margin-top: 20px;
    margin-left: 35px;
  }
   .nav-links li{
    position: relative;
    list-style: none;
    height: 50px;

  }
   .nav-links li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    
  }

   .links-name{
    color: black;
    text-decoration: none;
    font-weight: bold;
 

  }
  .multi{
   display: flex;
   flex-direction: row;
   background-color: #F2EDF3;
   height: 100%;
   width: 100%;
   position: fixed;
   
  
  }
  .home-content{
    width: 100%;
    height: none;
    background-color:white;
    margin:25px 25px 0px 25px   ;
    border-radius:  30px 30px 0px 0px;
    display: flex;
    flex-direction: row;
   

  
   
  } 




 .pcimage{
    height: 100px;
    width: 23%;
    margin-top: 50px; 
    display: flex;
    flex-direction: column;
 }


 .smallImage{
    border: 1px solid gray;
    border-radius: 15px;
    width: 80px;
    height: 80px;
 margin-top: 5px;
margin-left: 80px;

/* display: flex;
flex-direction: row; */


 
 }
 
 .bigImage{
border: 1px solid gray;
border-radius: 15px;

height: 45%;
display: flex;
margin-top:50px;
flex-direction: row;

 }

.cont{
    
    margin-top: 50px;
    margin-left: 50px;
    color:  blue;
    
 
  
}
#overflow{
    overflow: scroll ;
    height: 80%;
    width: 40%;
   
}
#overflow::-webkit-scrollbar{
    display: none;
}
    .product{
        width: 70%;
        height: 100px;
        padding: 10px;
     border: 1px solid black;
     border-radius: 10px;
     color: black;
     font-size: small;
     margin-bottom: 30px;
 
     

    }
    .des{
    width: 70%;
    height: 50vh;
    padding: 10px;
 border: 1px solid black;
 border-radius: 10px;
 letter-spacing: 1px;
 color: black;
 font-size: 10px;
font-family: Arial, Helvetica, sans-serif;

    }
    .type{
        margin-top: 30px;
        
    }
    .tag{
        width: 80%;
        height: 45px;
        padding: 10px;
     border: 1px solid black;
     border-radius: 10px;
     color: black;
     font-size: small;
     display: inline-block;
     margin-bottom: 20px;
     
    }
    .mprice{
     margin-left: 55px;
    
    }
    
    .price{
        width: 15vh;
        height: 25px;
        padding: 6px 0 6px 6px;
     border: 1px solid black;
     border-radius: 8px;
     color: black;
     font-size: small;
     
    }
    .dpprice{

 width: 100%;
        height: 25px;
        padding: 6px 0 6px 6px;
     border: 1px solid black;
     border-radius: 8px;
     color: black;
     font-size: small;
    }
   .mainprice{
    display: flex;
    flex-direction: row;

   }
   .dprice{
    width: 25%;
    height: 25px;
    padding: 6px 0 6px 6px;
 border: 1px solid black;
 border-radius: 8px;
 color: black;
 font-size: small;
   }
   .add-product{
    border:1px solid black; 
    border-radius: 10px;
    width: 30%;
    height: 25px;
    color: white;
    background: blue;
   margin-left: 50%;
   margin-bottom: 30px;
   }
  